<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.assets = {
    sportsImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/sports_image.jpg",
    musicImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/music_image.jpg",
    healthImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/health_image.jpg",
    outdoorImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/outdoor_image.jpg",
    artsImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/arts_image.jpg",
    socialImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/social_image.jpg",
    businessImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/sports_image.jpg",
    foodImage: "https://s3.amazonaws.com/linkup-pro/users/profile_photos/000/000/169/original/food_image.jpg",
    profileAvatar: "<%= image_path("profile_avatar.jpg") %>",
    notificationIcon: "<%= image_path("notification_icon.png") %>",
    profileIcon: "<%= image_path("profile_icon.png") %>",
    messageIcon: "<%= image_path("message_icon.png") %>",
    welcomeVideo: "<%= asset_path("welcome_video.mp4") %>",
    loadingIcon: "<%= asset_path("hourglass.gif") %>"
  }
</script>

<div id='root'></div>
