<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.sportsImage = "<%= image_path("sports_image.jpg") %>"
  window.musicImage = "<%= image_path("music_image.png") %>"
  window.healthImage = "<%= image_path("health_image.png") %>"
  window.outdoorImage = "<%= image_path("outdoor_image.png") %>"
  window.artsImage = "<%= image_path("arts_image.png") %>"
  window.socialImage = "<%= image_path("social_image.png") %>"
  window.businessImage = "<%= image_path("business_image.png") %>"
  window.foodImage = "<%= image_path("food_image.png") %>"
  window.profilePicture = "<%= image_path("profile_picture.jpg") %>"
  window.notificationIcon = "<%= image_path("notification_icon.png") %>"
  window.profileIcon = "<%= image_path("profile_icon.png") %>"
  window.messageIcon = "<%= image_path("message_icon.png") %>"
</script>

<body>
<div id='root'></div>
</body>
