<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.assets = {
    sportsImage: "<%= image_path("sports_image.jpg") %>",
    musicImage: "<%= image_path("music_image.jpg") %>",
    healthImage: "<%= image_path("health_image.jpg") %>",
    outdoorImage: "<%= image_path("outdoor_image.jpg") %>",
    artsImage: "<%= image_path("arts_image.jpg") %>",
    socialImage: "<%= image_path("social_image.jpg") %>",
    businessImage: "<%= image_path("business_image.jpg") %>",
    foodImage: "<%= image_path("food_image.jpg") %>",
    profileAvatar: "<%= image_path("profile_avatar.jpg") %>",
    notificationIcon: "<%= image_path("notification_icon.png") %>",
    profileIcon: "<%= image_path("profile_icon.png") %>",
    messageIcon: "<%= image_path("message_icon.png") %>"
  }
</script>

<div id='root'></div>
